# LLM_PROVIDER
# Choose between:
# 1. 'openai' (Cloud) - Requires OPENAI_API_KEY. Default model is gpt-4o.
# 2. 'openrouter' (Cloud) - Requires OPENROUTER_API_KEY. Default model is openai/gpt-4o-mini.
# 3. 'ollama' (Local) - Requires Ollama running on localhost:11434. Default model is llama3.
LLM_PROVIDER=openai

# LLM_MODEL
# Override the default model if needed (e.g. gpt-4o, openai/gpt-4o-mini, mistral)
LLM_MODEL=gpt-4o

# OPENAI_API_KEY
# Required only if LLM_PROVIDER=openai
OPENAI_API_KEY=sk-your-openai-api-key-here

# OPENROUTER_API_KEY
# Required only if LLM_PROVIDER=openrouter
OPENROUTER_API_KEY=sk-or-your-openrouter-api-key-here
